*.iml
.gradle
.gradle-user/
.android/
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
app/build
bd_en.json
bd_ru.json
info.txt
plan.txt
диплом Воронова — копия.docx
